* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100dvh;
    min-width: 0;
}

.header{
    height: 25%;
    width: 100%;
    background-color: #1F2937;
    padding: 10px 50px 50px 25px;
}

.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links-ul{
    display: flex;
    gap: 20px;
}
.img-logo{
    width: 50px;
}

a, .header-text {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    margin: 0;
}

.header-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    padding-top: 25px;
}

.header-main-left{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.header-buttom{
    background-color: #3882F6;
    border-radius: 10px;
    width: 100px;
    height: 25px;
    color: #F9FAF8;
    border: 1px solid rgb(0,0,0,0)

}

.header-img-container{
    width: 50%;
    height: 177px;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;

}

.main{
    display: flex;
    flex-direction: column;
}

.section-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 25px;
    gap: 20px;
}

.tittle-section-1 {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}

.elements-section-1 {
    display: flex;
    margin: 20px 50px;
    gap: 30px;
}

.img-text-section-1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    max-width: 125px;
}

.img-container-section-1 {
    width: 125px;
    height: 125px;
    border: 3px solid #3882F6;
    border-radius: 10px;
}

.text-container-section-1 {
    font-size: 15px;
    color: gray;
    text-align: justify;
    text-align-last: center;
}

.section-2 {
    background-color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-container-section-2 {
    max-width: 590px;
    margin: 25px;
}

.text-up-section-2 {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

.text-down-section-2 {
    text-align: end;
    font-weight: bold;
}

